<div class="main-content">
  <div class="container">
    <div class="card">
      <div class="card-header" data-background-color="red">
        <h4 class="title">Create ShopOwner</h4>
        <p class="category">Complete your shopowner</p>
      </div>
      <div class="card-content">
        <form [formGroup]="login" >
          <div class="row">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-6">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="../assets/img/faces/marc.jpg" />
                  </a>
                </div>
                <div class="content">
                  <h6 class="category text-gray">CEO / Co-Founder</h6>
                  <h4 class="card-title">Alec Thompson</h4>
                </div>
              </div>
            </div>
            <div class="col-xs-3">
            </div>
          </div>

          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">Username</label>
                <input type="text" class="form-control" formControlName="username">
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">password</label>
                <input type="text" class="form-control" formControlName="password">
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">confirm password</label>
                <input type="text" class="form-control" formControlName="confirm_password">
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">firstname</label>
                <input type="text" class="form-control" formControlName="firstName">
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">lastname</label>
                <input type="text" class="form-control" formControlName="lastName">
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">email</label>
                <input type="text" class="form-control" formControlName="email">
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="form-group form-black label-floating is-empty">
                <label class="control-label">phone</label>
                <input type="text" class="form-control" formControlName="phone">
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
        </form>
        <button type="submit" class="btn btn-danger pull-right" (click)="postDataShopOwner()">Create</button>
      </div>
    </div>
  </div>
</div>