.scrooll {
    height: 750px;
    overflow-y: scroll;
}

.navbar-form .form-control {
    width: 300px;
}

.user {
    padding-right: 20px;
    padding-left: 20px;
}

.bg-edit {
    background-color: #f44336;
    color: white;
}

#edit {
    margin-top: -60px;
    text-align: -webkit-right;
    padding-right: 22px;
}

.card .card-content {
    padding-top: 15px;
    padding-bottom: 0px;
}

.name {
    margin-top: 20px;
}

::-webkit-input-placeholder {
    /* Chrome */
    color: rgb(255, 249, 249) !important;
}

 :-ms-input-placeholder {
    /* IE 10+ */
    color: rgb(255, 249, 249) !important;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgb(255, 249, 249) !important;
    opacity: 1;
}

 :-moz-placeholder {
    /* Firefox 4 - 18 */
    color: rgb(255, 249, 249) !important;
    opacity: 1;
}

.scrollbar {
    overflow: scroll;
    height: 400px;
    overflow-x: hidden;
}

.btnsearch{
    margin-left: -25px;
    margin-top: 10px;
}

.ui-inputtext{
    width: 50px
}

/* img.profile-img{
    background-size: cover;
} */

.panel-body {
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}