<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">

          <div class="card-header" data-background-color="red">
            <h4>รายชื่อผู้ใช้งาน</h4>

            <!-- <form class="navbar-form " role="search" [> -->
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-offset-2 col-xs-offset-2">
                <div class="form-group form-black is-empty">
                  <input type="text" class="form-control" placeholder="Search" [(ngModel)]="keyword" (keyup.enter)="seachItem(keyword)">
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-xs-2 col-sm-2 btnsearch">
                <button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="seachItem(keyword)">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </div>
            <!-- </form> -->

          </div>



          <div class="scrollbar">
              <div class="loader" *ngIf="loadingCtrl">
                  <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                  </svg>
                </div>
            <div class="card-content" *ngFor="let item of userData; let i = index;">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-4" *ngIf="item.profileImageURL;">
                      <!-- <img class="img" src="../assets/img/faces/marc.jpg" /> -->
                      <img [src]="item.profileImageURL" alt="">
                    </div>
                    <div class="col-md-4" *ngIf="!item.profileImageURL;">
                      <img class="img" src="./assets/img/nophoto.gif" />
                    </div>

                    <div class="col-md-7">
                      <div class="row">
                        <p class="name">{{item.displayName}}</p>
                      </div>
                      <div class="row">
                        <i class="material-icons text-danger">perm_phone_msg</i>
                        <a href="#pablo">{{item.phone}}</a>
                      </div>
                      <div class="row">
                        <i class="material-icons text-danger">email</i>
                        <a href="#pablo">{{item.email}}</a>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-md-12" id="edit">
                        <button type="submit" (click)="getDetailUser(item)" class="btn btn-white btn-round btn-just-icon bg-edit" id="bg-edit">
                          <i class="glyphicon glyphicon-pencil"></i>
                          <div class="ripple-container"></div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6" *ngIf="edit1.username">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Edit Profile</h4>
            <p class="category">Complete your profile</p>
          </div>
          <div class="card-content">
            <form [formGroup]="login" (ngSubmit)="doLogin()">
              <div class="row">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4">
                  <div class="card card-profile">
                    <div class="card-avatar">
                      <a href="#pablo">
                        <img class="img" src="../assets/img/faces/marc.jpg" />
                      </a>
                    </div>
                    <div class="content">
                      <h6 class="category text-gray">{{edit1.roles}}</h6>
                      <h4 class="card-title">{{edit1.displayName}}</h4>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3">
                </div>
                <div class="col-xs-6">
                  <div class="form-group form-black label-stacked is-empty">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control" formControlName="username">
                  </div>
                </div>
                <div class="col-xs-3">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3">
                </div>
                <div class="col-xs-6">
                  <div class="form-group form-black label-stacked is-empty">
                    <label class="control-label">First name</label>
                    <input type="text" class="form-control" formControlName="firstName">
                  </div>
                </div>
                <div class="col-xs-3">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3">
                </div>
                <div class="col-xs-6">
                  <div class="form-group form-black label-stacked is-empty">
                    <label class="control-label">Last name</label>
                    <input type="text" class="form-control" formControlName="lastName">
                  </div>
                </div>
                <div class="col-xs-3">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3">
                </div>
                <div class="col-xs-6">
                  <div class="form-group form-black label-stacked is-empty">
                    <label class="control-label">Email</label>
                    <input type="text" class="form-control" formControlName="email">
                  </div>
                </div>
                <div class="col-xs-3">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3">
                </div>
                <div class="col-xs-6">
                  <div class="form-group form-black label-stacked is-empty">
                    <label class="control-label">Phone</label>
                    <input type="text" class="form-control" formControlName="phone">
                  </div>
                </div>
                <div class="col-xs-3">
                </div>
              </div>
            </form>
            <button type="submit" class="btn btn-danger pull-right" (click)="updateData()">Update Profile</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>