<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Search</h4>
          </div>

          <div id="custom-search-input">
            <div class="input-group col-md-11 align-center">
              <input type="text" class="form-control input-lg" placeholder="ค้นหารายชื่อ User" />
              <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </span>
            </div>
          </div>
          <div class="scrooll">
            <div class="user">
              <div class="card" *ngFor="let item of userData" (click)="getDetailUser(item)">
                <div class="row">
                  <div class="col-md-4">
                    <!-- <img class="img" src="../assets/img/faces/marc.jpg" /> -->
                    <img [src]="item.profileImageURL" alt="">
                  </div>
                  <div class="col-md-7">
                    <div class="row">
                      <p class="name">{{item.displayName}}</p>
                    </div>
                    <div class="row">
                      <i class="material-icons text-danger">perm_phone_msg</i>
                      <a href="#pablo">{{item.phone}}</a>
                    </div>
                    <div class="row">
                      <i class="material-icons text-danger">email</i>
                      <a href="#pablo">{{item.email}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-7" *ngIf="edit1.username">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Edit Profile</h4>
            <p class="category">Complete your profile</p>
          </div>
          <div class="card-content">
            <form [formGroup]="login" (ngSubmit)="doLogin()">
              <div class="row">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4">
                  <div class="card card-profile">
                    <div class="card-avatar">
                      <a href="#pablo">
                        <img class="img" src="../assets/img/faces/marc.jpg" />
                      </a>
                    </div>
                    <div class="content">
                      <h6 class="category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3">
                </div>
                <div class="col-xs-6">
                  <div class="form-group form-black label-stacked is-empty">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control"  formControlName="username">
                  </div>
                </div>
                <div class="col-xs-3">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3">
                </div>
                <div class="col-xs-6">
                  <div class="form-group form-black label-stacked is-empty">
                    <label class="control-label">First name</label>
                    <input type="text" class="form-control"  formControlName="firstName">
                  </div>
                </div>
                <div class="col-xs-3">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3">
                </div>
                <div class="col-xs-6">
                  <div class="form-group form-black label-stacked is-empty">
                    <label class="control-label">Last name</label>
                    <input type="text" class="form-control"  formControlName="lastName">
                  </div>
                </div>
                <div class="col-xs-3">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3">
                </div>
                <div class="col-xs-6">
                  <div class="form-group form-black label-stacked is-empty">
                    <label class="control-label">Email</label>
                    <input type="text" class="form-control"  formControlName="email">
                  </div>
                </div>
                <div class="col-xs-3">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3">
                </div>
                <div class="col-xs-6">
                  <div class="form-group form-black label-stacked is-empty">
                    <label class="control-label">Phone</label>
                    <input type="text" class="form-control"  formControlName="phone">
                  </div>
                </div>
                <div class="col-xs-3">
                </div>
              </div>
            </form>
            <button type="submit" class="btn btn-danger pull-right" (click)="updateData()">Update Profile</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>